# Virtualenv
.Python
bin
lib
include

# Mac OS X custom attribute files
.DS_Store

# files
*.pyc
app/*.pyc
*.pyo
env
env*
dist
*.egg
*.egg-info
_mailinglist
.tox

senti
senti2
senti3
readborg_senti2
readborg_senti3